{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
<head>
    <style>
         .container{
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 5px;
        }

        .title{
            text-align: center;
            align-items: center;
        }
    </style>
        <title>LogIn</title>
</head>
<body>
<div class="container">
    <h2 class="title">
        Log In
    </h2>
    <form method="post">
  {% csrf_token %}
   {% bootstrap_form form %}
        {% buttons %}
  <button type="submit">Log In</button>
        {% endbuttons %}
</form>

    <hr>
    Or, <a href="{% url 'signup' %}">Register an Account</a>
    <br>

</div>

</body>
</html>

